body {
  background: #000 url("https://www.transparenttextures.com/patterns/stardust.png");
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #6a82fb;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #fc5c7d;
}

#fotoDia p {
  text-align: center;
  max-width: 1000px;   
  margin: 20px auto;  
  line-height: 1.5;   
  font-size: 1.1rem;  
  color: #ffffff;     
}

h1 {
  font-size: 2.5rem;   
  color: #ffffff;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;   
  color: #ffffff;      
  margin-top: 40px;
  margin-bottom: 10px;
}